.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.displayButton {
  text-align: center;
}

.hideButton {
  display: none;
}
.SegmentationPageUI{
  display:flex;
}

.SegmentationPageUI2{
  display:flex;
  margin-left:400px;
}

.pieChartExplanation{
  display: flex;
  font-size: 8px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0b2457;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mg20 {
  margin: 20px;
}

.my20 {
  margin-top: 40px;
  margin-bottom: 40px;
  ;
}

.mr20 {
  margin-right: 20px;
}

.info {
  width: 100%;
  height: 100%;
}


.container {
  position: relative;
  width: 600px;
  margin: auto;
}

.preview {
  max-width: 620px;
}

.btn-upload {
  position: absolute !important;
  right: 10px;
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 300px;
  vertical-align: middle;
}

.list-group {
  padding: 0;
  margin: 0;
}

.list-header {
  margin-top: 10px !important;
}

.upload-message {
  font-weight: bold;
  color: #63A84E;
}

.upload-message.error{
  color: #DA4148;
}

.btn-choose {
  margin-right: 10px !important;
}
.btn {
  margin-top: 0px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 0px 0px;
  
  height: 60px;
  width: 100px;
  color: #ffffff;
  background: #008060;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;          
}

.removeValue {
  color:transparent;
}

input {
  color: transparent;
}

.radialChart{
  padding-top: 100px;
}

.GeoJsonForm{
  padding-left:650px;
  align-items: center;
}